<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách sinh viên</title>
</head>
<body>
    
</body>
<?php
echo '<h2 style="text-align: center">Danh sách sinh viên:</h2>';
if (!empty($studentList)) {
    echo '<table border = "1" width ="100%" align="center">';
    echo '<tr><th>ID sinh viên</th><th>Tên sinh viên</th></tr>';
    foreach ($studentList as $i => $student) {
        echo "<tr><td>" .$i. "</td><td><a href='?stid=" . $student->id . "'>" .$student->name. "</a></td></tr>";
    }
    echo '</table>';
}
?>
</br>
<p style="text-align: center"><a href="../index.php">Trang chủ</a></p>
</html>